extend layout
block content
	div#timer
	div#score
	video(autoplay='true', id='videoElement')

block scripts
	script(type='text/javascript', src='socket.io/socket.io.js')
	script(type='text/javascript', src='js/mulletrun.js')