/*
 * Import nib
 */
@import 'nib'

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = #faf9f0

body
	font-family 'Georgia'
	background-color background-color
	color #444
	padding 10px
	margin-left 10px

li.flag
	border 1px solid #ccc
	width 300px
	float left
	margin 5px
	padding 7px
	transition border 2.0s linear

.vals
	
	li
		height 27px
	
	span
		vertical-align sub 

.vals li.name 
		font-weight bold
		vertical-align sub 
	
.current:before, .high:before, .low:before 
	vertical-align sub
	margin-right 6px 

.current:before
	content 'Current:'
	
.high:before
	content 'High:'
	
.low:before
	content 'Low:'

select
	font-size 20px
	margin-left 9px
	width 244px
	
button
	width 80px
	height 22px
	margin-right 6px
	float right

div#score
	font-size 24px
	width 130px
	display inline-block
	vertical-align bottom

.captured
	background-color #b2efba

.uncaptured
	background-color #fff

li.flag.active
	border 1px solid red
	transition border 0.0s linear

#timer
	font-size 90px

#videoElement
	position fixed
	right 0
	bottom 0
	min-width 100%
	min-height 100%
	width auto
	height auto
	z-index -100
	background url(polina.jpg) no-repeat
	background-size cover
